# How much average monthly income I could expect from my investments in terms of lease/rent after upgrading properties, paying mortgage, and paying taxes. Calculate my ~ROI.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import us

## Assumptions

- Apply an average upgrade cost to all properties (2%-6%, assume 4%) [Google](https://www.google.com/search?sca_esv=f9439907e5543505&rlz=1C5CHFA_enUS1066US1066&sxsrf=ADLYWIKGALe9lErWdMYpzzi_ACDXvpSxuQ:1733020033405&q=So+if+I+buy+a+house,+what+is+the+average+cost+to+spruce+up+the+house+(i.+paint,+carpet,+etc)?+Is+there+a+percentage+I+can+apply+to+the+home+value+to+get+this+value?&spell=1&sa=X&ved=2ahUKEwjY-OrbwoWKAxVarYkEHXoMMNsQBSgAegQIDRAB&biw=2560&bih=1318&dpr=1)
- Mortage rate: 6.31% **Source:** [Bankrate](https://www.bankrate.com/mortgages/mortgage-rates/)
- 30 year fixed mortgage, 20% down payment
- Property tax rates by state imported as property_tax_rates.csv **Source:** [Maptive](https://www.maptive.com/interactive-maps/property-taxes-by-state/)
- Renters pay all utilities
- Rent rates: Imported as rent_rates.csv **Source:** [Rentdata](https://www.rentdata.org/states/2024)

## Rent analysis for 1-4 bedroom properties (Single Family and Condo included)
- We are not analyzing 5+ bedroom data from Zillow since we can't determine the rent per bedroom since all properties with 5+ bedrooms are included.

### Data Loading

In [15]:
# File paths
tax_rates_file_path = 'property_tax_rates.csv'
rent_rates_file_path = 'rent_rates.csv'
price_data_1br_path = 'Zip_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'
price_data_2br_path = 'Zip_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'
price_data_3br_path = 'Zip_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'
price_data_4br_path = 'Zip_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'

# Load the CSV files into pandas DataFrames
tax_rates = pd.read_csv(tax_rates_file_path)
rent_rates = pd.read_csv(rent_rates_file_path)
price_data_1br = pd.read_csv(price_data_1br_path)
price_data_2br = pd.read_csv(price_data_2br_path)
price_data_3br = pd.read_csv(price_data_3br_path)
price_data_4br = pd.read_csv(price_data_4br_path)

### Data Cleaning

In [16]:
# Since we're analyze the most recent house price data (October 2024), we can ignore all other months if they are blank.
# However we should remove rows where October 2024 data is missing from all price data

# Using 10/31/24 as the column key was giving an error
oct_2024_column = '2024-10-31'

# Keep rows with October 2024 data in the cell since we're only analyzing that month
price_data_1br = price_data_1br[price_data_1br[oct_2024_column].notna()]
price_data_2br = price_data_2br[price_data_2br[oct_2024_column].notna()]
price_data_3br = price_data_3br[price_data_3br[oct_2024_column].notna()]
price_data_4br = price_data_4br[price_data_4br[oct_2024_column].notna()]

# Define default tax rate for DC (1.1%)
default_tax_rate = '1.1%'  # Use string format to match existing data format

# Add a row for DC with default tax rates for all years
new_row = {
    'State': 'District of Columbia',
    '2020': default_tax_rate,
    '2021': default_tax_rate,
    '2022': default_tax_rate,
    '2023': default_tax_rate,
    '2024': default_tax_rate
}

# Append the new row to the DataFrame
tax_rates = pd.concat([tax_rates, pd.DataFrame([new_row])], ignore_index=True)

# Function to safely map state names to abbreviations
def safe_state_lookup(state_name):
    state_name = state_name.strip()  # Strip any extra spaces
    if state_name == "District of Columbia":
        return "DC"  # Special handling for DC
    state = us.states.lookup(state_name)
    return state.abbr if state else state_name  # Return abbreviation if found, otherwise return original name

# State names in the property_tax_rates and rent_rates
# need to be converted into a abbreviations to easily join data from the Zillow data set
# Use the us Python library to do this easily
tax_rates['State'] = tax_rates['State'].apply(safe_state_lookup)
rent_rates['State'] = rent_rates['State'].apply(safe_state_lookup)

# Function to convert strings to float
# The tax rates data set is type string, which needs to be converted to float
def convert_to_float(value):
    return float(value.strip('%')) / 100 if isinstance(value, str) and '%' in value else value

# Apply conversion to all columns except 'State'
for column in tax_rates.columns[1:]:  # Skip 'State'
    tax_rates[column] = tax_rates[column].apply(convert_to_float)

### Calculations assuming buying a house with a 20% downpayment mortgage

In [17]:
# Constants for calculation (taken from Assumptions section)
repair_cost_rate = 0.04
down_payment_rate = 0.20
mortgage_rate = 0.0631
loan_term_years = 30
monthly_interest_rate = mortgage_rate / 12
total_payments = loan_term_years * 12

# Filter tax rates by state and year (2024)
tax_rates_2024 = tax_rates[['State', '2024']]

# Function to calculate NOI for each row
def calculate_noi(row, bedroom_size):
    price = row[oct_2024_column]
    state = row['State']

    # Get tax rate and rent rate
    tax_rate = tax_rates.loc[tax_rates['State'] == state, '2024'].values
    rent_rate = rent_rates.loc[rent_rates['State'] == state, bedroom_size].values

    tax_rate = tax_rate[0]
    rent_rate = rent_rate[0]

    # Calculate loan amount and costs
    loan_amount = price * (1 - down_payment_rate)
    repair_cost = price * repair_cost_rate
    annual_taxes = price * tax_rate
    monthly_payment = loan_amount * (monthly_interest_rate * (1 + monthly_interest_rate)**total_payments) / ((1 + monthly_interest_rate)**total_payments - 1)
    annual_mortgage_payment = monthly_payment * 12
    annual_rent_income = rent_rate * 12
    noi = annual_rent_income - (annual_taxes + annual_mortgage_payment) - repair_cost
    return noi


# Apply the function to calculate Net Operating Income (NOI) for each dataset
price_data_1br['NOI'] = price_data_1br.apply(lambda row: calculate_noi(row, '1 BR'), axis=1)
price_data_2br['NOI'] = price_data_2br.apply(lambda row: calculate_noi(row, '2 BR'), axis=1)
price_data_3br['NOI'] = price_data_3br.apply(lambda row: calculate_noi(row, '3 BR'), axis=1)
price_data_4br['NOI'] = price_data_4br.apply(lambda row: calculate_noi(row, '4 BR'), axis=1)

### Display Data

In [18]:
# Convert NOI to numeric and handle errors
price_data_1br['NOI'] = pd.to_numeric(price_data_1br['NOI'], errors='coerce')
price_data_2br['NOI'] = pd.to_numeric(price_data_2br['NOI'], errors='coerce')
price_data_3br['NOI'] = pd.to_numeric(price_data_3br['NOI'], errors='coerce')
price_data_4br['NOI'] = pd.to_numeric(price_data_4br['NOI'], errors='coerce')

# Drop rows with NaN in NOI
price_data_1br = price_data_1br.dropna(subset=['NOI'])
price_data_2br = price_data_2br.dropna(subset=['NOI'])
price_data_3br = price_data_3br.dropna(subset=['NOI'])
price_data_4br = price_data_4br.dropna(subset=['NOI'])

# Extract top 3 rows by NOI
top_3_noi_1br = price_data_1br.nlargest(3, 'NOI')
top_3_noi_2br = price_data_2br.nlargest(3, 'NOI')
top_3_noi_3br = price_data_3br.nlargest(3, 'NOI')
top_3_noi_4br = price_data_4br.nlargest(3, 'NOI')

# Add a function to calculate ROI
def calculate_roi(row):
    price = row[oct_2024_column]
    noi = row['NOI']
    
    # Calculate components of total investment
    down_payment = price * down_payment_rate
    repair_cost = price * repair_cost_rate
    total_investment = down_payment + repair_cost
    
    # Avoid division by zero
    if total_investment == 0:
        return None
    
    # Calculate ROI
    roi = (noi / total_investment) * 100
    row['TotalInvestment'] = total_investment  # Add Total Investment to the row
    return roi

# Apply the function to calculate ROI for each bedroom type
price_data_1br['ROI'] = price_data_1br.apply(calculate_roi, axis=1)
price_data_2br['ROI'] = price_data_2br.apply(calculate_roi, axis=1)
price_data_3br['ROI'] = price_data_3br.apply(calculate_roi, axis=1)
price_data_4br['ROI'] = price_data_4br.apply(calculate_roi, axis=1)

# Extract top 3 rows by ROI for each bedroom type
top_3_roi_1br = price_data_1br.nlargest(3, 'ROI')
top_3_roi_2br = price_data_2br.nlargest(3, 'ROI')
top_3_roi_3br = price_data_3br.nlargest(3, 'ROI')
top_3_roi_4br = price_data_4br.nlargest(3, 'ROI')

# Display the results
display("Top 3 ROI Rows for 1-Bedroom:")
display(top_3_roi_1br[['RegionName', 'State', oct_2024_column, 'NOI', 'ROI']])

display("\nTop 3 ROI Rows for 2-Bedroom:")
display(top_3_roi_2br[['RegionName', 'State', oct_2024_column, 'NOI', 'ROI']])

display("\nTop 3 ROI Rows for 3-Bedroom:")
display(top_3_roi_3br[['RegionName', 'State', oct_2024_column, 'NOI', 'ROI']])

display("\nTop 3 ROI Rows for 4-Bedroom:")
display(top_3_roi_4br[['RegionName', 'State', oct_2024_column, 'NOI', 'ROI']])

'Top 3 ROI Rows for 1-Bedroom:'

      RegionName State    2024-10-31          NOI         ROI
3027       71109    LA  23913.993261  7444.674024  129.712653
3628       61605    IL  21458.901839  6589.774195  127.953391
2561       38930    MS  25216.971705  6815.057830  112.606996

'\nTop 3 ROI Rows for 2-Bedroom:'

       RegionName State    2024-10-31           NOI         ROI
14199       93562    CA  33763.153888  18735.625540  231.213905
10656       39203    MS  20667.122529   9272.548711  186.942423
3701        39209    MS  22924.193896   9029.723991  164.122892

'\nTop 3 ROI Rows for 3-Bedroom:'

       RegionName State    2024-10-31           NOI         ROI
18375       24237    VA  34350.900595  16205.523230  196.568394
12033       71103    LA  29936.240349  12460.218985  173.427186
15816       44506    OH  29412.922444  11324.102541  160.418471

'\nTop 3 ROI Rows for 4-Bedroom:'

      RegionName State    2024-10-31           NOI         ROI
6082       48505    MI  34576.422067  13455.180674  162.143014
8333       61605    IL  35541.961308  12330.233331  144.550189
9437       36610    AL  46294.532452  12436.628094  111.933917

In [ ]:
# These values seem off, there is no way to buy a house in LA for $23.9k
# We'll need to remove outliers to get better results

# Try this analysis for State wide data
# No mortgage analysis
# Add lots of visuals